<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin View</title>
</head>
<body>
<h1>Admin View: All Data</h1>
<div>
    <h2>Airbnb Listings</h2>
    <h3>listing id, longitude, latitude, price, room type, name</h3>
    {% for l in listing%}
        <p>{{l.lid, l.longitude, l.latitude, l.price, l.room_type, l.name}} </p>
    {% endfor %}
</div>
<div>
    <h2>Boroughs</h2>
    <h3>borough name</h3>
    {% for b in boro%}
        <p>{{b.name}} </p>
    {% endfor %}
</div>
<div>
    <h2>Covid Info</h2>
    <h3>covid id, covid percentage, borough name</h3>
    {% for c in covid%}
        <p>{{c.covidid, c.percent, c.name}}</p>
    {% endfor %}
</div>
<div>
    <h2>Census Info</h2>
    <h3>census id, unemployment rate, borough name</h3>
    {% for ce in census%}
        <p>{{ce.censusid, ce.unemployment_rate, ce.name}}</p>
    {% endfor %}
</div>
<div>
  <h2>Crime Cases</h2>
  <h3>crime id, borough name</h3>
  {% for cr in crime%}
      <p>{{cr.cid, cr.name}}</p>
  {% endfor %}
</div>
<p><a href="/">back to home page</a></p>
</body>
</html>